.white-header .header-menu ul li.menu-item a, .lang-menu ul li a {
    color: #444444;
}

.header-hero-image{
    object-fit:cover;
    width: 100%;
    min-height:200px;
}

.breadcrumbs{
    background-color: #e3e3e3;
    font-size:12px;
}

.breadcrumbs span{
    color: #444444;
}

.breadcrumbs a{
    color: #3b61a6;
}

.main-content h1{
    font-family: 'PFSquareSansProMedium';
    font-size: 52px;
    font-weight: 500;
}

.main-content .main-text p {
    font-family: Arial;
    font-size: 18px;
}


header.white-header.sticky{
    background-color: #ffffff;
}

.service-box-left .service-box-wrapper{
    background-image: url(../images/service/Evrizonikotita_imag1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:120px 0;
}
.service-box-right .service-box-wrapper{
    background-image: url(../images/service/Evrizonikotita_imag2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:120px 0;
}

.service-box-left a{
    font-family: 'PFSquareSansProMedium';
    font-size: 51px;
    font-weight: 500;
    color: #fff;
    
}

.service-box-right a{
    font-family: 'PFSquareSansProMedium';
    font-size: 51px;
    font-weight: 500;
    color: #fff;
    background-color: #3b60a6da;
    padding:100px;
}
